// css img, button, title, icon, elements...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;

  &.--center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
  outline: 0;
}

strong {
  font-family: ab; // optional
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

a {
  text-decoration: none;
  outline: 0;
}

.title {
  font-size: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  font-family: m5;
  letter-spacing: 2px;

  @include sm {
    font-size: 7.5rem;
  }

  @include xs {
    font-size: 5.5rem;
  }

  @include xxxs {
    font-size: 3.9rem;
  }

  &.--left {
    left: 60%;
  }
}

.--after {
  &::after {
    position: relative;
    bottom: -2px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--text-cl);
    transform: translateX(-50%) scaleX(0);
    @include transform(scaleX(0));
    // transition: var(--duration) transform, var(--duration) background-color;
    transition-duration: 0.3s;
    @include transform-origin(right);
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    &::after {
      @include transform(scaleX(1));
      @include transform-origin(left);
      opacity: 1;
      visibility: visible;
    }
  }
}

.--line {
  &::before {
    content: "";
    width: 100%;
    background-color: var(--text-cl);
    height: 2.5px;
    display: block;
    margin-bottom: 50px;
  }
}

.up {
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}