footer {
  font-size: 1.6rem;
  letter-spacing: -.05rem;
  margin-top: auto;
  padding: 20rem 0 2rem 0;

  .container {
    display: flex;
    gap: 17.6rem;

    a {
      margin-right: 2rem;
    }
  }
}