.nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 200;
    right: 0;
    background-color: var(--bg-cl);
    color: var(--text-cl);
    opacity: 0;
    pointer-events: none;
    padding-top: 50px;
    z-index: 9999;
    display: flex;
    flex-direction: column;

    &__content {
        font-size: 62px;
        max-width: 755px;
        letter-spacing: 1px;
        top: 30%;
        left: 3%;
        position: relative;
        font-family: m4;

        &-des {
            text-transform: lowercase;
            margin-top: 100px;
            display: flex;

            p {
                font-size: 20px;
                font-family: m1;

                &:nth-child(2) {
                    font-family: m5;
                }
            }
        }
    }


    &.active {
        opacity: 1;
        pointer-events: auto;
        @include transition(0.3s);
    }
}