:root {
  --gap: 15px;
  --max-width-page: 2560px;
  --max-width-container: calc(1198px + calc(var(--gap) * 2));
  --height-header: 90px;
  // color
  --purple-cl: #7127ba;
  --white-cl: #fff;
  --blue-hover-cl: #363636;
  --bg-cl: #e9e9e9;
  --text-cl: #000;
  --white-smoke: rgba(247, 247, 247, 0.4);
  // animated scroll nav-down
  --radius: 5.5rem;
  --frame-size: calc(var(--radius) / 3);
  --d-outer: calc(var(--radius) * 2);
  --d-inner: calc(var(--d-outer) - var(--frame-size));
  --font-size: calc(var(--radius) / 10);


  // reponsive
  @include md {
    --gap: 28px;
    --max-width-container: calc(1140px + calc(var(--gap) * 2));
  }

  @include sm {
    --gap: 28px;
    --max-width-container: calc(960px + calc(var(--gap) * 2));
  }

  @include xs {
    --gap: 15px;
    --max-width-container: calc(100% + calc(var(--gap) * 2));
  }

  @include xxs {
    --max-width-container: calc(100% + calc(var(--gap) * 2));
    --gap: 15px;
  }

  @include xxxs {
    --max-width-container: calc(100% + calc(var(--gap) * 2));
  }
}