.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    display: flex;
    justify-content: center;
  }

  &__textbox {
    &-first {
      font-size: 10rem;
      width: fit-content;

      @include xxs {
        font-size: 8rem;
      }
    }

    &-second {
      width: fit-content;
      display: flex;
      align-items: center;

      p {
        font-size: 2rem;
        margin-right: 30px;
      }

      h2 {
        font-size: 12rem;

        @include xxs {
          font-size: 8rem;
        }
      }
    }

    &-third {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 40rem;
        width: fit-content;
        white-space: nowrap;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: r;
        height: fit-content;
        // -webkit-text-stroke: 1px var(--text-cl);
        // -webkit-text-fill-color: transparent;
        margin-bottom: 15px;

        @include sm {
          font-size: 28rem;
        }
      }

      p {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 4rem;
        font-family: m3;

        @include sm {
          font-size: 1rem;
        }
      }
    }


  }

  .circle {
    position: absolute;
    width: var(--d-outer);
    height: var(--d-outer);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -40%;
    right: -3%;

    @include sm {
      right: 3%;
    }

    p {
      font-size: var(--font-size);

    }

    &__logo {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: var(--text-cl);
    }

    &__text {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: rotateText 10s linear infinite;
      text-transform: uppercase;

    }

    &__text p span {
      position: absolute;
      left: 50%;
      font-size: 1.3em;
      transform-origin: 0 var(--radius);
    }
  }

  @keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

.cb-tagreel {
  position: relative;
}

.cb-tagreel-content {
  padding: 250px 0 100px;
}

.cb-tagreel-items {
  margin: -58px 0;
  overflow: hidden;
  cursor: default;
}

.cb-tagreel-row {
  display: flex;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.cb-tagreel-item {
  position: relative;
  line-height: 100%;
  font-size: 3.75vw;
  flex: 0 0 33%;
  padding: 58px 0;
  text-transform: uppercase;
  font-family: m4;
}

.cb-tagreel-item.-stroke {
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.9);
}

.cb-tagreel-item span {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.about {
  margin-bottom: 80px;

  .container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: var(--gap);
  }

  &__title {
    margin-bottom: 50px;
  }

  &__textbox {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);


    &-des {
      grid-column: 1/7;

      .hi {
        font-size: 5.7rem;
        letter-spacing: 20px;
        white-space: nowrap;
      }

      .title {
        margin: 40px 0px;
        font-size: 4rem;
        letter-spacing: 0.3px;
        font-family: m3;

        @include sm {
          font-size: 3rem;
        }

        span {
          content: "";
          background: #d8ec20;
          width: 229px;
          display: block;
          height: 5px;
          position: absolute;
          top: 86.2%;
          left: 52%;
        }
      }

      .content {
        font-size: 1.8rem;
        letter-spacing: 0.3px;

        p {
          margin-bottom: 30px;

          @include sm {
            margin-bottom: 20px;
            font-size: 1.5rem;
          }
        }
      }

    }

    &-other {
      grid-column: 8/13;


      img {
        filter: grayscale(100%);
      }
    }
  }
}

.skill {
  .container {


    @include xs {
      flex-direction: column;
    }
  }

  .flex {
    padding: 100px 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

  }

  &__text {
    font-size: 3rem;
    letter-spacing: 0.5px;
    transform: rotate(270deg);
    max-width: 625px;

    @include sm {
      font-size: 2rem;
    }

    @include xs {
      margin-bottom: 20px;
      max-width: 550px;
      font-size: 2rem;
      transform: initial;
    }

    @include xxs {
      max-width: 516px;
      font-size: 1.8rem;
    }
  }

  &__list {
    &-item {
      font-family: m4;
      font-size: 8.5rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      white-space: nowrap;

      @include sm {
        font-size: 7.5rem;
      }

      @include xxs {
        font-size: 6.5rem;
      }
    }
  }
}

.project {
  @include hd {
    display: block;
  }

  @include xs {
    display: none;
  }


  .project-categ {
    font-weight: lighter;
    font-family: m1;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--white-smoke);

    @include xxs {
      font-size: 1.5rem;
    }
  }

  .project-title {
    font-size: 2.8rem;
    font-family: m5;
  }

  .cursor {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: scale(0.1);
    opacity: 0;
    margin: -100px 0 0 -100px;
    background: url(image-1.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: 1;
  }

  .wrapper {
    width: 80%;
    margin: 180px auto;
    height: 100%;
  }

  .project {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    position: relative;
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
    height: 100px;
  }

  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.project1 {
  @include hd {
    display: none;
  }

  @include xs {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
  }

  &__title {
    display: flex;
    justify-content: center;

    h2 {
      font-family: rb1;
      font-size: 2.5rem;
      letter-spacing: 0.5px;
      margin: 50px 0px;
    }
  }

  &__list {
    &-item {
      &:nth-child(4) {
        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        width: 100%;
        background-color: var(--text-cl);
        display: block;
        position: relative;
        bottom: -40px;
        height: 1px;
        margin-bottom: 80px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        gap: var(--gap);
        margin-bottom: 20px;

        &__left {
          color: var(--text-cl);
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.4;
          text-decoration: none;
          text-transform: uppercase;
          font-family: rb1;
          white-space: nowrap;
        }

        &__right {
          color: var(--text-cl);
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.4;
          text-decoration: none;
          text-transform: uppercase;
          font-family: rb10;
          white-space: nowrap;

          @include xs {
            font-size: 2rem;
          }
        }
      }

      .img {
        margin-top: 50px;

        img {
          &:hover {
            content: "View";
          }
        }
      }
    }
  }
}

.contact {
  padding-bottom: 100px;

  &__textbox {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);

    @include xs {
      padding: 20px 0px;
    }

    &-content {
      grid-column: 1/3;

      p {
        font-size: 1.7rem;
        white-space: nowrap;
        margin-top: 10px;
      }
    }

    &-social {
      grid-column: 5/12;

      .list {
        display: flex;
        position: absolute;
        right: 10%;
        top: 50%;


        a {
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: var(--text-cl);
          width: fit-content;
          height: 40px;
          text-transform: uppercase;
          white-space: nowrap;
          font-size: 1.5rem;
        }
      }

      .mail {
        font-size: 9rem;
        font-family: m5;
        position: relative;
        bottom: -60%;
        right: -2%;
        width: fit-content;

        @include sm {
          font-size: 7rem;
        }
      }
    }
  }
}

.backtotop {
  width: 30px;
  height: 30px;
  background-color: #00afab;
  position: fixed;
  position: absolute;
  bottom: 30px;
  right: 30px;
}